@model Recipe
@{
    ViewData["Title"] = "Recipe - " + @Model.Name;
}

<div class="card shadow-lg" style="width: 24rem;">
    <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">@Model.Name</h5>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Kooktijd: @Model.CookingTimeInMinutes minuten</h6>
        <p><strong>Ingrediënten:</strong></p>
        <p>@Model.Ingredients</p>
        <p><strong>Bereidingswijze:</strong></p>
        <p>@Model.Steps</p>
    </div>
    <div class="card-footer text-end">
        <a href="/" class="btn btn-secondary">Terug</a>
    </div>
</div>



